{% extends 'account/base.html' %}

{% block title %}
Email Input
{% endblock title %}

{% block style %}
<style>
    body {
        background-color: #f8f9fa;
    }

    .form-container {
        margin-top: 10%;
        padding: 40px;
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
        text-align: center;
        margin-bottom: 30px;
    }
</style>
{% endblock style %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="col-md-6 form-container">
        <h2>Connect Me</h2>
        <form method="POST" action="{% url 'verify_otp' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">Email address</label>
                <input type="email" class="form-control" placeholder="name@example.com" name="email" required />
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock body %}

